$color: #ccc;
$font-size: 14px;
footer {
  background: darken($color, 50%);
  color: red;
  font-size: $font-size;
  a{
    font-size: $font-size + 10;
    color:white;
    font-weight:bold;
    font-style: italic;
    border-bottom: 2px dashed darkblue;

  }
}