@import '../../variables';
@import '../../function';
@import '../../mixin';

header {
  color: #fff;
  font-size: $font;
  background: getDarken($color);
  line-height: getPart($line-height, 50);
  @include round();

  nav {
    background: #7f7f7f;
    ul {
      list-style: none;
    }
  }
}

//$colors: lightblue, blue, darlblue, blueviolet;
//
//ul {
//  @for $i from 1 through length($colors) {
//    li:nth-child(#{$i}) {
//      background: nth($colors, $i);
//    }
//  }
//}
//
//@each $animal in puma, sea-slug, egret {
//  .#{$animal}-icon {
//    background: url('/images/#{$animal}.png');
//  }
//}

